@tailwind base;
@tailwind components;
@tailwind utilities;

.background-homePage {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  position:fixed; 
  top: 0;
  left: 0;
  z-index: -1; 
}

.linear-color-title {
  background-image: linear-gradient(to right, #000000 0%, #dc77ad 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}
